Ceci est le formulaire d'ajout des evenements

<form method="post" action="../event/add">
    <label for="title">Nom de l'évenement</label>
    <input type="text" id=title" name="title">

    <label for="description">Description de l'évenement</label>
    <input type="text" id="description" name="decription">

    <label for="picture">Illustration de l'évenement</label>
    <input type="text" id="picture" name="picture">

    <label for="date">Date de l'évenement</label>
    <input type="date" id="date" name="date">

    <label for="location">Endroit de l'évenement</label>
    <input type="text" id="location" name="location">

</form>