
<section class="cookies container-fluid">
    <div class="row">
        <h2>Gestion des activités</h2>


        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {%  for activity in activities %}
                <tr>
                    <td>{{ activity.name }}</td>
                    <td><a class="mini activity-button btn btn-primary btn-lg" href="/./adminActivity/showActivity/{{ activity.id }}">Modifier</a>
                    </td><td>
                        <button>
                            <a><img class="delete_button" src="/./assets/icons/logo_delete.png" alt="logo_delete"></a>
                        </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <a class="activity-button btn btn-primary btn-lg" href="/./adminActivity/addActivity">Ajouter une activité</a>
</section>
