
<section class="cookies container-fluid">
    <div class="row">
        <h2>Gestion des activités</h2>


        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>A afficher</th>
            </tr>
            </thead>
            <tbody>
            {%  for id in activities %}
                <tr>
                    <td>{{ id.name }}</td>
                    <td>{{ id.to_be_displayed}}</td>
                    <td><a class="mini activity-button btn btn-primary btn-lg" href="showEvent/{{ id.id }}">Modifier</a>
                    </td>
                    <td>
                        <button>
                            <a href="delete/{{ id.id }}"><img class="delete_button" src="/./assets/icons/logo_delete.png" alt="logo_delete"></a>
                        </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <a class="activity-button btn btn-primary btn-lg" href="/./Admin/">Ajouter une activité</a>
</section>

