
<section class="cookies container-fluid">
    <div class="row">
        <h2>Gestion de qui sommes nous</h2>


        <table class="table table-stripped table-hover">
            <thead class="thead-dark-price">
            <tr>
                <th>description</th>
                <th>image</th>
            </tr>
            </>
            <tbody>

                <tr>
                    <td>{{ whoAreUs.description }}</td>

                    <td>{{ whoAreUs.picture }}</td>


                    <td><a class="mini activity-button btn btn-primary btn-lg" href="/./AdminWhoAreUs/editWhoAreUs">Modifier</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</section>
