{% extends 'Admin/activityFormLayout.html.twig' %}

{% block title %}Creer une activité{% endblock %}

{% block method %}/./adminActivity/addActivity{% endblock %}

{% block buttons %}
            <a class="activity-button btn btn-primary btn-lg" href="/./Admin/index">Retour</a>
            <input class="activity-button btn btn-primary btn-lg" type="submit" name="action" value="Enregistrer l'activité">
{% endblock %}


