{% extends 'Admin/activityFormLayout.html.twig' %}

{% set title="Créer une activité" %}

{% block title %}{{title}}{% endblock %}

{% block buttons %}
            <a class="activity-button btn btn-primary btn-lg" href="/./Admin/index">Retour</a>
            <input class="activity-button btn btn-primary btn-lg" type="submit" name="action" value="{{title}}">
{% endblock %}


