{% extends 'Admin/eventFormLayout.html.twig' %}

{% block title %}Creer un évènement{% endblock %}

{% block buttons %}
            <a class="activity-button btn btn-primary btn" href="/./Admin/index">Retour</a>
            <input class="activity-button btn btn-primary btn" type="submit" name="action" value="Enregistrer l'évenement">
{% endblock %}


