{% extends 'Admin/eventFormLayout.html.twig' %}

{% block title %}Créer un évènement{% endblock %}

{% block buttons %}

            <a class="back-button btn" href="/./Admin/index">Retour</a>
            <input class="activity-button btn btn-primary btn" type="submit" name="action" value="Enregistrer l'évenement">
 
{% endblock %}


