{% extends 'Admin/lessonFormLayout.html.twig' %}

{% block title %}Créer une leçon{% endblock %}

{% block buttons %}
    <a class="activity-button btn btn-primary btn" href="/./Admin/index">Retour</a>
    <input class="activity-button btn btn-primary btn" type="submit" name="action" value="Enregistrer la leçon">
{% endblock %}

