
{% block buttons %}
    <a class="back-button btn" href="/./Admin/index">Retour</a>
    <input class="activity-button btn btn-primary btn" type="submit" name="action" value="Enregistrer la leçon">
{% endblock %}

{% extends 'Admin/formLayout.html.twig' %}

{% set title="Créer une Leçon" %}

{% block form %}
    {% include 'Admin/_lessonDetails.html.twig' %}
{% endblock %}
