{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Modifier la leçon :</h1>
    <form class = "event-form" method="post" action="/./AdminLesson/editLesson">
        {% include 'Admin/_lessonDetails.html.twig' %}
        <a class="activity-button btn btn-primary btn-lg" href="/./Admin/index">Retour</a>
        <input class="activity-button btn btn-primary btn-lg" type="submit" name="action" value="Enregistrer les modifications">
    </form>
{% endblock %}