{% extends 'layout.html.twig' %}

{% block title %}A.O.N. Orléans Admin{% endblock %}

{% block content %}
    <h1>Espace Administrateur</h1>
    {% include 'Admin/_activityAdmin.html.twig' %}
    {% include 'Admin/_eventAdmin.html.twig' %}
{% endblock %}
