{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Modifier l'évènement:  {{ data.title }}</h1>
    <form class = "event-form" method="post" action="/./AdminEvent/editEvent" enctype="multipart/form-data">
        {% include 'Admin/_eventDetails.html.twig' %}
        <a class="back-button btn" href="/./Admin/index">Retour</a>
        <input class="activity-button btn btn-primary btn" type="submit" name="action" value="Enregistrer les modifications">
    </form>
{% endblock %}


