{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit Event {{ event.title }}</h1>
    <form>
   {# {% include 'Event/_eventDetails.html.twig' %} #}
        <input type="submit" value="Retour">
        <input type="submit" value="Enregistrer les modifications">
    </form>
    <a href="../Admin/showEvent/{{ event.id }}">Back</a>
{% endblock %}
