{% block whoAreUsDetail %}
    <div class="whoAreUs-card card" >
        <img class="card-img" src="/assets/images/{{ whoAreUs.picture }}" alt="qui sommes nous">

        <p class="card-text">{{ whoAreUs.description }}</p>
    </div>

{% endblock %}

