

{% block whoAreUsDetail %}
        <div class="whoAreUs">
            <img class="imgWhoAreUs" src="/assets/images/{{ whoAreUs.picture }}" alt="picture of us">
            <p>{{ whoAreUs.description }}</p>
        </div>
{% endblock %}

