{% block whoAreUsDetail %}
    <div class="whoAreUs-card card" >
        <img class="wau-card-img card-img" src="/assets/images/{{ whoAreUs.picture }}" alt="qui sommes nous">

        <p class="wau-card-text card-text">{{ whoAreUs.description }}</p>
    </div>

{% endblock %}

