{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit qui sommes nous</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" value="{{ whoAreUs.id }}" name="id">
        <input type="text" value="{{ whoAreUs.description }}" name="description">
        <input type="hidden" value="{{ whoAreUs.picture }}" name="picture">
        <input type="file" value="{{ whoAreUs.picture }}" name="picture">


        <input type="submit" value="Valider">
    </form>    <a href="/./admin/index">Retour</a>
{% endblock %}
