{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="titleWhoAreUs">Edit Qui sommes-nous</h1>
<section class="WAU-form">

    {% if message != '' %}
        <div class="form-message-WAU">{{ message }}</div>
    {% endif %}

    <form class="WAU-form" method="post" action="/./adminWhoAreUs/editWhoAreUs" enctype="multipart/form-data">

        
        {% set data = whoAreUs %}
        {% set pictureDirectory = "activityImages" %}
        {% include 'Admin/_pictureUpload.html.twig' %}


        <label class="col-form-label" for="description">Description actuelle </label>
        <textarea class="WAUdescription" name="description">{{ whoAreUs.description }}</textarea>
        <small class="errorMessage form-text text-danger">{{ errors.description }}</small>


    <div class="form-button-pannel">
            <a class="back-button btn" href="/./Admin/index">Retour</a>
            <input class="activity-button btn btn-primary" type="submit" name="action" value="Enregistrer les modifications">
        </div>
    </form>
</section>
{% endblock  %}
