{% extends 'layout.html.twig' %}

{% block content %}

    <h1 class="titleWhoAreUs">Qui sommes nous</h1>

    <section>

        {% include 'WhoAreUs/_whoAreUs.html.twig' %}
    </section>

{% endblock %}
