{% extends 'layout.html.twig' %}
{% block content %}

    <h1>Qui sommes nous</h1>

    <section>
        {% block whoAreUsDetail %}
            <div class="whoAreUs-card card" >
                <img class="wau-card-img card-img" src="/assets/activityImages/{{ whoAreUs.picture }}" alt="qui sommes nous">
                <p class="wau-card-text card-text">{{ whoAreUs.description }}</p>
            </div>
        {% endblock %}
    </section>
{% endblock %}

