
<section class="activity">

    <h2 data-aos="fade-left">Découvrez nos activités</h2>

    {% block activityIntroduction %}{% endblock %}

    <div class="activity-card-deck card-deck">
        {% for activity in activities %}

            <div class="activity-card card" >
                <img class="activity-card-img card-img-top" src="/assets/images/{{ activity.picture }}" alt="illustration de l'activité">
                <div class="card-body">
                    <h5 class="card-title">{{ activity.name }}</h5>
                    <p class="card-text">{{ activity.shortDescription }}</p>
                    <a href="/./Activity/showActivity/{{ activity.id }}" class="activity-button btn btn-primary">En savoir plus</a>
                </div>
            </div>

        {% endfor %}
    </div>
</section>

