{% for activity in activities %}

    <div class="activity">
        <img src="/assets/images/{{ activity.picture }}" alt="illustration de l'activité">
        <div class="activityName">{{ activity.name }}</div>
    </div>

{% endfor %}
