<div class="card-deck">
    {% for partner in partners %}
        <div class="card" >
            <a href="{{ partner.link }}">
                <img class="card-img-top" src="/assets/images/{{ partner.picture }}" alt="illustration de l'activité">
                <div class="card-body">
                    <h4 class="card-text">{{ partner.name }}</h4>
                </div>
            </a>
        </div>
    {% endfor %}
</div>