{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>
    {% include 'Home/_activity.html.twig' %}
<div class="button-activity">
    <a type="button" class="btn btn-primary btn-lg" href="Activity/index">Activités</a>
</div>

{% endblock %}
