{% extends 'layout.html.twig' %}

{% block title %}A.O.N Orléans{% endblock %}

{% block content %}

        {{ "<h1>Bienvenue sur le Site de l’A.O.N.!</h1>" }}

        <div class="welcome">
        <p>L'Alliance Orléans Natation, association loi 1901, accueille à la Piscine Ephémère et à la piscine du  Palais des Sports d'Orléans, les personnes de tous âges et de tous niveaux désirant pratiquer ou s'initier à la natation qu'elle soit de loisir ou de compétition. Des cours d'Aquagym, de Nage avec Palmes et d'Aquaphobie sont également proposés. Vous trouverez un descriptif détaillé des activités et horaires proposés dans la rubrique "Nos activités".</p>
        </div>

        {% include 'Home/_event.html.twig' %}

    <hr>

        {% include 'Home/_activity.html.twig' %}
        <div class="button-activity">
           <a class="btn btn-primary btn-lg" href="../Activity/index">Activités</a>
        </div>

    <hr>

       {% include 'Home/_partner.html.twig' %}

{% endblock %}
