{% extends 'layout.html.twig' %}

{% block title %}A.O.N Orléans{% endblock %}

{% block content %}

    {{ "<h1>Bienvenue sur le Site de l’A.O.N.!</h1>" }}

  
    <hr>



        {% include 'Home/_event.html.twig' %}
    <hr>
        {% include 'Home/_activity.html.twig' %}
    <hr>
        {#
        {% include 'Home/_partner.html.twig' %}
         #}
{% endblock %}