.event-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-extra-large);
    width:100%;
}

.form-message{
    font-family: var(--font-title);
    font-size: 50px;
    padding:var(--padding-large);
    color:var(--color-main);
    width:100%;
}

.form-container{
    display:flex;
    flex-wrap: wrap;
    width:100%;
}

.form-container-left, .form-container-right{
    display:flex;
    flex-direction: column;
    width:50%;
    padding: var(--padding-extra-large);
}

