.WAU-form{
     display:flex;
     flex-direction: column;
     align-items: center;
     padding: var(--padding-large);
     min-width:100%;
 }

.WAUdescription {
    width: 80%;
    height: 150px;
}

.WAU-card-img {
    padding-bottom: var(--padding-large);
    width: 350px;
}