.activity-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-large);
    min-width:100%;
}

.form-message{
    font-family: var(--font-title);
    font-size: 50px;
    padding:var(--padding);
    color:var(--color-main);
}

.form-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width:1000px;
    max-width:90vw;
}

.activity-form .form-container .form-container-left, .activity-form .form-container .form-container-right{
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    width:50%;
    padding: var(--padding-large);
}

.activity-form .form-container .form-container-left{
    width:450px;
}

.activity-form .form-container .form-container-right .form-group textarea{
    height : 450px;
}

h1{
    margin:0;
}

.mini{
    height:35px;
    display:flex;
    align-items: center;
    width: min-content;
    margin:0;
}

