.role{
    margin-bottom:0;
}

.contact{
    font-weight: bold;
}

.staticDataContainer{
    display:flex;
    flex-direction: column;
    align-items: start;
    margin: var(--margin-extra-large);
}

.form-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    min-width:60%;
}

.form-group-contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}


@media (max-width: 600px) {
    .form-contact{
        width: 100%;
    }

}
