.activity-card-deck{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin:0;
}

.activity-card{
    max-width: 320px;
    min-width: 320px;
    margin:var(--margin-large);
}

.activity-card-img{
    height:212px;
}
