.activity-card-deck{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding-bottom: var(--padding-extra-large);
}

.card-deck .activity-card{
    max-width: 310px;
    min-width: 310px;
    margin: calc(1 * (var(--margin-extra-large))) auto;
    background:transparent;
}

.activity-card .card-body {
    background: rgb(16, 199, 146);
    background: linear-gradient(324deg, rgba(16, 199, 170, 0.70) 0%, rgba(116, 225, 202, 0.35) 70%, rgba(148, 233, 240, 0.6) 100%);
}

.activity-card-img{
    height: 212px;
    object-fit: cover;
}

.activity-card .card-text{
    height:4em;
}

.button-activity{
    display: flex;
    padding: calc(2*(var(--padding-large)));
    justify-content: center;
}

.activity-button{
    background-color: var(--color-main);
    margin: var(--margin-large);
}
