/* pour importer les futurs fichiers: @import url(".css");*/
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Sen&display=swap');
@import url('homepage.css');
@import url('homepage_event.css');
@import url('homepage_activity.css');
@import url('homepage_partner.css');

:root {
    --color-light: #F0FFFF;
    --color-dark: #465566;
    --color-main: #91AAC7;
    --color-main-dark: #465566;
    --color-main-light: #ADD8E6;
    --color-contrast: #FF8F8C;
    --color-light-alternative:#F5F4DB;

    --navbar-color: var(--color-main);
    --navbar-link-color-light : var(--color-light-alternative);
    --navbar-link-color-dark : var(--color-dark);
    --navbar-zindex:100;
    --navbar-width:100%;

    --font-title: 'Antic', sans-serif;
    --font-text: 'Sen', sans-serif;

    --padding: 8px;
    --padding-small: calc(var(--padding) / 2);
    --padding-large: calc(var(--padding) * 2);
    --padding-extra-large: calc(var(--padding) * 4);

    --margin: 8px;
    --margin-small: calc(var(--margin) / 2);
    --margin-large: calc(var(--margin) * 2);
    --margin-extra-large: calc(var(--margin) * 4);

    --font-main-size: 16pt;

    --navbar-height:5vw;
}

* {
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    color:var(--color-dark);
    font-size:16pt;
}

main{
    align-self: center;
    max-width:75%;

    display:flex;
    flex-direction: column;
    align-items: center;

    background-attachment:fixed;
    background-image : url("../images/turbulences.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    font-family: var(--font-title);
    font-size: 70px;
    font-weight:bold;
    padding-top: calc(1.5 * var(--navbar-height));
    padding-bottom: calc(2*(var(--padding-large)));
}

h2 {
    font-family: var(--font-title);
    font-size: 50px;
    font-weight: bold;
    padding:var(--padding-large);
    color:var(--color-main);
}

h3 {
    font-family: var(--font-title);
    font-size: 30px;
    font-weight: bold;
}

h4, h5 {
    color:var(--color-contrast);
    font-weight: bold;
}

li, a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.row {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 70px;
}

.page-footer {
    background-color: var(--color-main-light);
}

.logoNavBar{
    width: 30%;
    height: 25%;
}

.collapse {
    justify-content: flex-end;
}

hr{
    margin: var(--margin-extra-large);
    width: 75%;
    height: 2px;
    background-color: var(--color-dark);
    border: none;
}

.navbar{
    background-color: var(--navbar-color);

    position:fixed;
    width:var(--navbar-width);
    z-index:var(--navbar-zindex);
    min-height:var(--navbar-height);
}

.navbar a{
    color:var(--navbar-link-color-dark);
    letter-spacing: 4px;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-image: url("../icons/hamburger.png");
}

.navbar li{
    position:relative;
    box-sizing: content-box;
}

.navbar li::after{
    content:' ';
    width:30%;
    height:5%;
    position:absolute;
    background:transparent;
    top:80%;
    left:0;
    z-index: -1;
    left:35%
}


.navbar li:hover::after{
    width:80%;
    left:10%;
    background:var(--navbar-link-color-light);
    transition:0.8s;
}

section{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

section h2{
    align-self: start;
}

.clearfix{
    display:none;
}
