/* pour importer les futurs fichiers: @import url(".css");*/
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Sen&display=swap');
@import url('homepage_event.css');
@import url('homepage_activity.css');
@import url('whoAreUs.css');


:root {
    --color-light: #F0FFFF;
    --color-dark: #465566;
    --color-main: #91AAC7;
    --color-main-dark: #465566;
    --color-main-light: #ADD8E6;
    --color-contrast: #FF8F8C;
    --color-light-alternative:#F5F4DB;

    --font-title: 'Antic', sans-serif;
    --font-text: 'Sen', sans-serif;

    --padding: 8px;
    --padding-small: calc(var(--padding) / 2);
    --padding-large: calc(var(--padding) * 2);
    --padding-extra-large: calc(var(--padding) * 4);

    --margin: 8px;
    --margin-small: calc(var(--margin) / 2);
    --margin-large: calc(var(--margin) * 2);
    --margin-extra-large: calc(var(--margin) * 4);

    --font-main-size: 16px;

}

* {
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    color:var(--color-dark);
}

main{
    align-self: center;
    max-width:75%;

    display:flex;
    flex-direction: column;
    align-items: center;
}


h1{
    font-family: var(--font-title);
    font-size: 70px;
    padding-top: calc(2*(var(--padding-large)));
    padding-bottom: calc(2*(var(--padding-large)));
}

h2 {
    font-family: var(--font-title);
    font-size: 50px;
    padding:var(--padding-large);
    color:var(--color-main);
}

h3 {
    font-family: var(--font-title);
    font-size: 30px;
}

li, a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.row {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 35px;
}

.page-footer {
    background-color: var(--color-main-light);
}

.logoNavBar{
    width: 30%;
    height: 25%;
}

.collapse {
    justify-content: flex-end;
}

hr{
    margin: var(--margin-extra-large);
    width: 75%;
    height: 2px;
    background-color: var(--color-dark);
    border: none;
}

.partner-card{
    border: none;
    max-width: 150px;
    min-width: 150px;
    margin-top: var(--margin-large);
}

.partner-card-deck{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding: var(--padding-extra-large);
}

.navbar{
    background-color: var(--color-main-light);
}

.navbar-toggler-icon {
    background-image: url("../icons/hamburger.png");
}

section{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

section h2{
    align-self: start;
}

.welcome {
    padding: 2vW;
    max-width:800px;
}

.clearfix{
    display:none;
}
