.whoAreUs-card {
    display: flex;
    flex-direction: row;
    background:transparent;
    border: none;
}
.wau-card-img {
    width: 350px;
    height: 350px;
    object-fit: contain;
}
.wau-card-text {
    padding: var(--padding-extra-large);
    text-align:left;
}

@media screen and (max-width: 901px) {
    .whoAreUs-card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
