{% extends 'Home/_activity.html.twig' %}

{% block activityIntroduction %}
    <div class="welcome">
        <p> Pour un moment de détente en famille, pour vous amuser entre amis ou pour dépasser vos performances personnelles, venez découvrir les activités que nous vous proposons.</p>
    </div>

{% endblock %}
